.wrapper {
    background-color: #fff;
    max-width: 30%;
    position: fixed;
    right: 0;
    z-index: 1000;
    display: block;
}

.wrapper_modal {

    .icon_close {
        margin-left: auto;
        cursor: pointer;
        padding: 1rem;
    }
}


.close {
    display: none;
}