.wrapper {
    background-color: #fff;
    max-width: 30%;
    width: 40rem;
    position: fixed;
    right: 0;
    z-index: 1000;
    display: block;
}

.wrapper_modal {

    .icon_close {
        margin-left: auto;
        cursor: pointer;
        padding: 1rem;
    }

    .items {
        overflow-y: scroll;
        margin-bottom: 3rem;
    }
}


.close {
    display: none;
}