.input {
    margin-top: 10px;
    padding: 10px !important;
}

.wrapper-dropdown {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}
.value_dropdown {
    margin-left: 10px;
}