.footer {
    width: 100%;
    padding: 70px 0;
    font-size: 1.5rem;
    box-shadow: 0px -3px 21px -10px rgba(0,0,0,0.75);

    .container {
        display: flex;
        justify-content: space-around;

        div {
            margin-left: 50px;
        }
    }

    &__logo {
        height: 38px;
    }

    &__about {
        width: 600px;
        p {
            margin-bottom: 2rem;
        }

        p:nth-child(2) {
            word-wrap: normal;
        }
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-weight: 600;
    }

    &__content {
        p {
            margin-bottom: 1.25rem;
        }
    }

    .item:hover{
        color: var(--primary);
    }
}
