.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    background-color: var(--white-color);
    width: 100%;
    height: var(--default-layout-header-height);
}

.logo {
    display: flex;
    
    object-fit: cover;
    img {
        width: 80px;
        height: 80px;
    }
}

.wrapper-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: var(--default-layout-width);

    .wrapper-menu {
        display: flex;
    }
    ul {
        display: flex;
        list-style-type: none;
    }
}

.user-avatar {
    width: 42px;
    height: 42px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}