.wrapper {
    margin-top: 20px;
}

.header {
    color: var(--primary);
    font-weight: bold;
    margin-left: 10px;

    &-icon {
        margin-right: 20px;
    }
}

.action-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.select {
    width: 8vw;
    padding: 5px;
    outline: none;
}

.table {
    margin-top: 20px;
    font-size: 1.4rem !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12), 0 3px 3px 0 rgba(0, 0, 0, 0.22);
    border-radius: 10px;
}


.actions-btn {
    font-size: 1.2rem;
}
.wrapper-policy {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.page_navigation {
  margin-top: 50px;
  font-size: 1.4rem !important;
  display: flex;
  justify-content: center;
}

.pagination,
.page-numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.pagination {
  margin-top: 128px;
}

.btn-nav,
.btn-page {
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin: 0 5px;
}

.btn-nav {
  padding: 8px;
}

.btn-nav {
  width: 42px;
  height: 42px;
  border: 1.5px solid var(--primary);
  color: var(--primary);
  margin: 0 5px;
}

.btn-nav:hover,
.btn-page:hover {
  background-color: var(--primary);
  color: #fff;
}

.btn-page {
  border: none;
  width: 36px;
  height: 36px;
  font-size: 16px;
}

.btn-selected {
  background-color: var(--primary);
  color: #fff;
}