.wrapper {
    margin-top: 20px;
}

.wrapper-content {
    margin-top: 50px;
}

.input_field {
    display: flex;
    align-items: center;
}

.fields {
    margin-top: 20px;
}

.input {
    padding: 7px !important;
    width: 300px !important;
}

.icon {
    margin-left: 10px;
    cursor: pointer;
}